body {
    padding: 20px;
}

form {
    max-width: 800px;
    margin: auto;
}

label {
    margin-top: 10px;
}

button {
    margin-top: 10px;
}

.template-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.link-text {
    color: blue;
    text-decoration: underline;
}

.icon-button {
    cursor: pointer;
}
.input-group{
    height: 500px;
}
/* Default styling for all screens */
#about1,
#about2,
#about3 {
    color: white;
    width: 800px;
}

#about2 {
    margin-left: 400px;
}

/* Media query for tablet view */
@media only screen and (max-width: 1024px) {
    #about1,
    #about2,
    #about3 {
        width: 600px; /* Adjust width for tablet screens */
    }

    #about2 {
        margin-left: 200px; /* Adjust margin for tablet screens */
    }
}

/* Media query for mobile view */
@media only screen and (max-width: 600px) {
    #about1,
    #about2,
    #about3 {
        width: 100%; /* Make width full for mobile screens */
    }

    #about2 {
        margin-left: 0; /* Remove margin for mobile screens */
    }
}

