
#about1,
#about2,
#about3 {
    color: white;
    width: 800px;
}

#about2 {
    margin-left: 400px;
}

/* Media query for tablet view */
@media only screen and (max-width: 1024px) {
    #about1,
    #about2,
    #about3 {
        width: 600px; /* Adjust width for tablet screens */
    }

    #about2 {
        margin-left: 200px; /* Adjust margin for tablet screens */
    }
}

/* Media query for mobile view */
@media only screen and (max-width: 600px) {
    #about1,
    #about2,
    #about3 {
        width: 100%; /* Make width full for mobile screens */
    }

    #about2 {
        margin-left: 0; /* Remove margin for mobile screens */
    }
}

